<h2>
  コメント一覧
</h2>
<% @article.comments.each do |comment| %>
  <p>
    <strong>名前</strong>
    <%= comment.commenter %>
  </p>
  <p>
    <%= comment.created_at %>
  </p>
  <p>
    <strong>コメント</strong>
    <%= comment.body %>
  </p>
  <% if current_user && current_user.admin? %>
    <p>
      <%= link_to 'コメント削除', [comment.article, comment], class: 'btn btn-md btn-danger', method: :Delete, data: {confirm: '本当に削除しますか?'} %>
    </p>
  <% end %>
<% end %>
