<section class="footer">
  <div class="row">
    <div class="col-md-4 darker">
      <div class="col-md-12 pd white">
        <h4>General Info</h4>
        <hr>
        <h5 class="linktxt">Address Line1</h5>
        <h5 class="linktxt">Address Line2</h5>
        <h5 class="linktxt">Address Line3</h5>
        <hr>
        <p class="small-font gray">&copy; nobuo_web 2019 All Rights Rserved</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12 pd white">
        <h4>Subscribe</h4>
        <hr>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2"
                 type="text"
                 placeholder="Input Your Email" aria-label="Email"
                 style="margin-bottom:10px: width%"><br>
          <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
    <div class="col-md-4 dark">
      <div class="col-md-12 pd white">
        <h4>SNS</h4>
        <h5><%= link_to 'facebook', welcome_index_path, class:"linktxt" %></h5>
        <h5>twitter</h5>
        <h5>youtube</h5>
      </div>
    </div>
  </div>
</section>
