<div class="row" style="padding-top:20%">
<div class="col"></div>
<div class="col-md-7 text-center">
  <h1>Welcome to Nobuo's Blog</h1>
  <p><%= link_to 'Read my Blog', articles_path, class: 'btn btn-lg btn-info' %></p>
</div>
<div class="col"></div>
</div>
