<div class="row" style="padding-top:6%">
  <div class="col"></div>
  <div class="col-md-7 text-center">
    <%= image_tag 'nobuo_blog.jpg', :class => "style_image" %>
    <div class="jumbotron">
      <h1>Welcome to Nobuo's Blog</h1>
      <p><%= link_to 'Read my Blog', articles_path, class: 'btn btn-lg btn-welcome' %></p>
    </div>
  </div>
  <div class="col"></div>
</div>
