.footer
{
  background-color: #808080;
  min-height: 10rem;
  margin-top: 2rem;
}
.col-md-4
{
    min-width: 10rem;
    padding: 0;
    margin: 0;
}

.pd
{
  padding: 2rem;
  padding-bottom: 1rem;
}

.white
{
  color:#ffffff;
}

.dark
{
  background-color: #CCCCCC
}

.darker
{
  background-color: #444444;
}
