.navbar-nav
{
  font-size: 85%;
  white-space: nowrap;
  background-color: #333333 !important;
}

.nav-link
{}

#active_nav-link
{
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff !important;
}

.active_nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #DDDDDD !important;
}

.nav-item a
{
  color: #DDDDDD !important;
}
.navbar-toggler{
  border: 2px solid #ffffff !important;
}
