.navbar-nav
{
  font-size: 85%;
  font-weight:bold;
  white-space: nowrap;
  background-color: #444444	 !important;
}

.nav-link
{
  color: white;
}

#active_nav-link
{
  display: block;
  padding: 0.5rem 1rem;
  color: #007bff;
}

.active_nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #000099;
}

.nav-item a
{
  color: #007bff;
}


.navbar-toggler{
  border: 2px solid #ffffff !important;
}
