.navbar-nav
{
  background-color: #333333 !important;
}

.nav-link
{}

#active_nav-link
{
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff !important;
}

.active_nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #f3cace !important;
}

.nav-item a
{
  font-weight: bold;
  color: #f3cace !important;
}

.nav-item a{
  font-weight: bold;
  color: #f3cace;
}

.navbar-toggler{
  border: 2px solid #ffffff !important;
}
